# --- 파이썬 관련 ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# --- 로그 파일 (추가 추천) ---
*.log

# --- 가상환경 관련 ---
Scripts/
bin/
include/
Include/
lib/
Lib/
obj/
share/
pyvenv.cfg
.venv/
venv/
env/

# --- 데이터베이스 ---
*.db
*.sqlite3

# --- 환경변수 및 비밀 키 ---
.env
instance/

# --- 운영체제 임시 파일 ---
.DS_Store
Thumbs.db